/* .form-outline {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-label {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  transition: all 0.2s;
  pointer-events: none;
  color: #666;
}

.form-control:focus + .form-label,
.form-control:not(:placeholder-shown) + .form-label {
  top: -1rem;
  left: 0.75rem;
  font-size: 0.85rem;
  color: #007bff;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

img.rounded-circle {
  object-fit: cover;
}

.invalid-feedback {
  display: block;
} */
.invalid-feedback {
  display: block;
}